@import "tailwindcss";
/* HTML: <div class="inverted-radius"></div> */
.inverted-radius {
  --r: 20px; /* the radius */
  --s: 30px; /* size of inner curve */
  --x: 20px; /* horizontal offset (no percentage) */
  --y: 10px; /* vertical offset (no percentage) */
  
  width: 350px;
  aspect-ratio: 1;
  background: #3FB8AF;
  border-radius: var(--r);
  --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%);
  --_g:conic-gradient(at var(--r) var(--r),#000 75%,#0000 0);
  --_d:(var(--s) + var(--r));
  mask:
    calc(var(--_d) + var(--x)) 0 var(--_m),
    0 calc(var(--_d) + var(--y)) var(--_m),
    radial-gradient(var(--s) at 0 0,#0000 99%,#000 calc(100% + 1px)) 
     calc(var(--r) + var(--x)) calc(var(--r) + var(--y)),
    var(--_g) calc(var(--_d) + var(--x)) 0,
    var(--_g) 0 calc(var(--_d) + var(--y));
  mask-repeat: no-repeat;
}
@media (max-width: 640px) {

  .howitworks-wrapper {
    width: 260px !important;
    height: 180px !important;
    margin-top: 10px;
  }

  .howitworks-main {
    top: 24px !important;
    left: 90% !important;
    transform: translateX(-50%) !important;
  }

  .howitworks-overlay {
    top: -72px !important;
    left: 70% !important;
    transform: translateX(-40%) !important;
  }

}
/* HTML: <div class="curved-edge"></div> */
.curved-edge {
  --c: 80px; /* control the curvature (works with percentage) */
  height: 350px;
  aspect-ratio: 3/33;
  /* you can also update the 60%  */
  mask: radial-gradient(60% var(--c) at top,#0000 calc(100% - 1px),#000);
  background: black;
}